:root {
    --padding-for-main: 10px;
    --title-font-size: 30pt;

}


body {
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("brandon2.png");
    background-color: white;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;

}

main {
    
    font-size: 12pt;
    margin: 70pt 30px 20px 30px;

}

.bottom-area {
    display: flex;
    background: linear-gradient(90deg, yellow, white);
    padding: var(--padding-for-main);
    align-content: center;
    
}

.bottom-area > * {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid black;
}

.bottom-area > *:first-child {
    border-left: none;
}

.top-area {
    background: linear-gradient(90deg, cornflowerblue, white);
    /*height: 600px;*/
    min-height: 600px;
    padding: var(--padding-for-main);

}

h1, header {

    font-size: var(--title-font-size);
    text-decoration: underline;
    /*background-image: url("brandon2.png");*/
    background: linear-gradient(90deg, cornflowerblue, white);
    position: fixed;
    width: 100%;
    height: 30pt;
    left: 0;
    top: 0;
    padding: 15px;
    z-index: 3;
}

h2 {
    margin-top: 0.75em;
    margin-bottom: 0.33em;

}

#class-schedule-table {
    background-color: white;
    border: 3px solid black;
    border-spacing: 3px;
}

#class-schedule-table td, #class-schedule-table th {
    border: 1px solid black;
    border-spacing: 3px;
}

tr:nth-child(2n) {
    background-color: lightgray;
}

#class-schedule-table th, #class-schedule-table td {
    padding: 3px;
    width: 100px;
}

/* #haiku-text {
    padding-left: 20px;
} */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pictureOfBrandon {
    float: right;
    background-color: cornflowerblue;
    padding: 15px;
    max-height: 450px;
}

p {
    text-indent: 50px;
    margin-bottom: 1em;
}


.CS2550 {
    background-color: pink;
}

.CS305G {
    background-color: lightblue;
}

.homework {
    background-color: cornflowerblue; /* best color */
}

.COMM2110 {
    background-color: burlywood;
}

.Dinner {
    background-color: chocolate;
}

.CS2600 {
    background-color: crimson;
}
